# Narrow Transformations

In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\bin\\spark-3.3.0-bin-hadoop2'

In [2]:
from pyspark import SparkContext, SparkConf

In [7]:
conf=SparkConf().setAppName("practice").setMaster("local")
sc=SparkContext(conf=conf)

In [8]:
num=sc.parallelize([5,4,3,4,7,8,2])
num.collect()

[5, 4, 3, 4, 7, 8, 2]

# num.map(lambda a: a*2).collect()   ##map function

In [10]:
num.map(lambda a: pow(a,2)).collect()

[25, 16, 9, 16, 49, 64, 4]

In [11]:
names=sc.parallelize(["Bills","Mark","Brain","Mick"])

In [12]:
names.map(lambda a:"Mr. "+a).collect()

['Mr. Bills', 'Mr. Mark', 'Mr. Brain', 'Mr. Mick']

# Flatmap fuction

In [13]:
rdd = sc.parallelize([2,3,4])
rdd.collect()

[2, 3, 4]

In [14]:
a= range(1,3)

for i in a:
    print(i)

1
2

In [15]:
(rdd.flatMap(lambda x: range(1,x)).collect())

[1, 1, 2, 1, 2, 3]

In [16]:
a=sc.parallelize([1,2,3])

In [18]:
b= a.flatMap(lambda x: (x,x*10,57))
b.collect()

[1, 10, 57, 2, 20, 57, 3, 30, 57]

# Filter function

In [19]:
num.collect()

[5, 4, 3, 4, 7, 8, 2]

In [20]:
num.filter(lambda x: x%2==0).collect()

[4, 4, 8, 2]

In [21]:
names.collect()

['Bills', 'Mark', 'Brain', 'Mick']

In [22]:
names.filter(lambda x: "B" in x).collect()    #all names starting with B is return

['Bills', 'Brain']

# Union    #combine both data

In [23]:
num.collect()

[5, 4, 3, 4, 7, 8, 2]

In [24]:
num2=sc.parallelize([7,8,9,2,6,4,3])
num2.collect()

[7, 8, 9, 2, 6, 4, 3]

In [25]:
num.union(num2).collect()

[5, 4, 3, 4, 7, 8, 2, 7, 8, 9, 2, 6, 4, 3]

In [26]:
num2.union(num).collect()

[7, 8, 9, 2, 6, 4, 3, 5, 4, 3, 4, 7, 8, 2]

In [ ]:
# also

In [27]:
x = sc.parallelize([1,2,3],2)
y = sc.parallelize([3,4],1)

In [28]:
z= x.union(y)
z.collect()

[1, 2, 3, 3, 4]

# Sample

In [30]:
parellel = sc.parallelize(range(1,10))
parellel.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
parellel.sample(True,.2).collect()       # True means sampling with replacement  # .2 is fraction of dataset i.e 20% of data

[4, 7, 7]

In [ ]:
# above we can see value changes every time thats why we are using seed func

In [35]:
parellel.sample(True,.2, seed=19).collect()      #result remains same each time

[2, 4, 6, 9]

In [37]:
parellel.sample(False,.2).collect()     #False means sampling without replacement

[3, 6]

# Wide Transformations

## GroupBy   and GroupByKey (for key value pair only)

In [38]:
names.collect()

['Bills', 'Mark', 'Brain', 'Mick']

In [ ]:
#grouping names by alphabets

In [39]:
names_gr = names.groupBy(lambda x: x[0])

In [40]:
names_gr.collect()    # it create key value pair  to see this... convert to list

[('B', <pyspark.resultiterable.ResultIterable at 0x1ccb0de67c0>),
 ('M', <pyspark.resultiterable.ResultIterable at 0x1ccb0dd65e0>)]

In [41]:
for (k,v) in names_gr.collect():
    print(k, list(v))

B ['Bills', 'Brain']
M ['Mark', 'Mick']

In [44]:
## another example

In [45]:
aa= sc.parallelize(range(1,8))
result=aa.groupBy(lambda x: x%2).collect()

In [47]:
result

[(1, <pyspark.resultiterable.ResultIterable at 0x1ccb0de6a30>),
 (0, <pyspark.resultiterable.ResultIterable at 0x1ccb0de6160>)]

In [46]:
for (k,v) in result:
    print(k, list(v))

1 [1, 3, 5, 7]
0 [2, 4, 6]

# Intersection   # only common elements display

In [48]:
num.collect()

[5, 4, 3, 4, 7, 8, 2]

In [49]:
num2.collect()

[7, 8, 9, 2, 6, 4, 3]

In [51]:
num.intersection(num2).collect()

[4, 8, 2, 3, 7]

In [52]:
num2.intersection(num).collect()

[8, 2, 4, 7, 3]

# Subtract   # reverse of intersection , not takes comman elements

In [53]:
num2.subtract(num).collect()

[6, 9]

In [54]:
num.subtract(num2).collect()

[5]

# Distinct   like unique element , not takes duplicate elements

In [55]:
num.collect()

[5, 4, 3, 4, 7, 8, 2]

In [56]:
num.distinct().collect()

[5, 4, 3, 7, 8, 2]