pyspark dataframe
reading the dataset
checking the datatypes of columns(Schema)
selecting columns and indexing
check describe option similar to pandas
adding columns
dropping columns

In [7]:
pip install -q findspark

Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -yspark (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\dell\anaconda3\lib\site-packages)

In [1]:
#1st step build pyspark session

In [2]:
import findspark
findspark.init()

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [6]:
spark

In [7]:
## read dataset

In [12]:
df_pyspark=spark.read.option('header','true').csv("C:\\CSV Files\\for_pyspa.csv", inferSchema=True)  #inferschema for changing data type string to integer

In [13]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Irfan| 26|         5|
|Sandra| 32|         8|
|Mehmad| 25|         6|
|tamara| 19|         4|
+------+---+----------+

In [14]:
#check schema #like df.info() in pandas

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [16]:
#2nd way

In [18]:
df_pyspark=spark.read.csv("C:\\CSV Files\\for_pyspa.csv",header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Irfan| 26|         5|
|Sandra| 32|         8|
|Mehmad| 25|         6|
|tamara| 19|         4|
+------+---+----------+

In [19]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [23]:
df_pyspark.head(5)

[Row(Name='Irfan', Age=26, Experience=5),
 Row(Name='Sandra', Age=32, Experience=8),
 Row(Name='Mehmad', Age=25, Experience=6),
 Row(Name='tamara', Age=19, Experience=4)]

In [25]:
df_pyspark.select('Name').show()   # to show only name column frm entire dataframe

+------+
|  Name|
+------+
| Irfan|
|Sandra|
|Mehmad|
|tamara|
+------+

In [26]:
df_pyspark.select(['Name','Experience']).show()   # for 2 columns

+------+----------+
|  Name|Experience|
+------+----------+
| Irfan|         5|
|Sandra|         8|
|Mehmad|         6|
|tamara|         4|
+------+----------+

In [30]:
df_pyspark.dtypes    #check datatypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [31]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [32]:
df_pyspark.describe().show()

+-------+------+-----------------+-----------------+
|summary|  Name|              Age|       Experience|
+-------+------+-----------------+-----------------+
|  count|     4|                4|                4|
|   mean|  null|             25.5|             5.75|
| stddev|  null|5.322906474223771|1.707825127659933|
|    min| Irfan|               19|                4|
|    max|tamara|               32|                8|
+-------+------+-----------------+-----------------+

In [34]:
##adding columns dropping columns

In [ ]:
#add columns

In [38]:
df_pyspark=df_pyspark.withColumn('Experience by 2 years', df_pyspark['Experience']+2)    # added column

In [40]:
df_pyspark.show()

+------+---+----------+---------------------+
|  Name|Age|Experience|Experience by 2 years|
+------+---+----------+---------------------+
| Irfan| 26|         5|                    7|
|Sandra| 32|         8|                   10|
|Mehmad| 25|         6|                    8|
|tamara| 19|         4|                    6|
+------+---+----------+---------------------+

In [41]:
##drop the columns

In [42]:
df_pyspark=df_pyspark.drop('Experience by 2 years')

In [43]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| Irfan| 26|         5|
|Sandra| 32|         8|
|Mehmad| 25|         6|
|tamara| 19|         4|
+------+---+----------+

In [ ]:
#rename columns

In [46]:
df_pyspark=df_pyspark.withColumnRenamed('Name','New Name')

In [47]:
df_pyspark.show()     #renamed

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Irfan| 26|         5|
|  Sandra| 32|         8|
|  Mehmad| 25|         6|
|  tamara| 19|         4|
+--------+---+----------+