# Pyspark Handling Missing Values

* dropping columns
* dropping rows
* various parameter in dropping functionalities
* handling missing values by mean median mode

In [1]:
#pip install pyspark

In [2]:
#pip install -q findspark

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
df_pyspark=spark.read.csv("C:\\CSV Files\\csv1.csv",header=True,inferSchema=True)

In [8]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
| Sandra|  32|         8| 12000|
| Mehmad|  25|         6| 15000|
| tamara|  19|         4| 19000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [ ]:
##drop nullvalues

In [9]:
df_pyspark.na.drop().show()    #this drop wherever is null values that row get dropped

+-------+---+----------+------+
|   Name|Age|Experience|salary|
+-------+---+----------+------+
|  Irfan| 26|         5| 22000|
| Sandra| 32|         8| 12000|
| Mehmad| 25|         6| 15000|
| tamara| 19|         4| 19000|
|  soham| 22|         3| 21000|
|shubham| 24|         4| 24000|
+-------+---+----------+------+

In [10]:
#any == how

df_pyspark.na.drop(how="all").show()     #this command used if in a specific row all values are null then drop that row

# df_pyspark.na.drop(how="any").show() #this command used if in a specific row there is any values are null then drop that entire row

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
| Sandra|  32|         8| 12000|
| Mehmad|  25|         6| 15000|
| tamara|  19|         4| 19000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [ ]:
## threshold =2 e.g. =>  required atleast 2 "non null" values in that row and if condition satisfy then row get droped

In [11]:
df_pyspark.na.drop(how="any", thresh=2).show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
| Sandra|  32|         8| 12000|
| Mehmad|  25|         6| 15000|
| tamara|  19|         4| 19000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
+-------+----+----------+------+

In [13]:
### subset     #it drops null value containing row, for a specific column

In [12]:
df_pyspark.na.drop(how="any",subset=['Experience']).show()    #['Age'], ['Name']

+-------+---+----------+------+
|   Name|Age|Experience|salary|
+-------+---+----------+------+
|  Irfan| 26|         5| 22000|
| Sandra| 32|         8| 12000|
| Mehmad| 25|         6| 15000|
| tamara| 19|         4| 19000|
|  soham| 22|         3| 21000|
|shubham| 24|         4| 24000|
|   null| 34|        10| 38000|
+-------+---+----------+------+

In [ ]:
#filling missing values

In [17]:
df_pyspark.na.fill('Missing Values').show()      #fill with "missing value"

+--------------+----+----------+------+
|          Name| Age|Experience|salary|
+--------------+----+----------+------+
|         Irfan|  26|         5| 22000|
|        Sandra|  32|         8| 12000|
|        Mehmad|  25|         6| 15000|
|        tamara|  19|         4| 19000|
|         soham|  22|         3| 21000|
|       shubham|  24|         4| 24000|
|        mahesh|null|      null| 35000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [19]:
df_pyspark.na.fill('Missing Values',['Age','Experience']).show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
| Sandra|  32|         8| 12000|
| Mehmad|  25|         6| 15000|
| tamara|  19|         4| 19000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [20]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
| Sandra|  32|         8| 12000|
| Mehmad|  25|         6| 15000|
| tamara|  19|         4| 19000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [ ]:
#fill null values with imputer

In [21]:
from pyspark.ml.feature import Imputer

In [26]:
imputer= Imputer(
    inputCols=['Age','Experience','salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','salary']]
    ).setStrategy("mean")   


        # median or mode also can use

In [27]:
# Add imputation cols to df 
imputer.fit(df_pyspark).transform(df_pyspark).show()   #this create new columns with _imputed

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|salary|Age_imputed|Experience_imputed|salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Irfan|  26|         5| 22000|         26|                 5|         22000|
| Sandra|  32|         8| 12000|         32|                 8|         12000|
| Mehmad|  25|         6| 15000|         25|                 6|         15000|
| tamara|  19|         4| 19000|         19|                 4|         19000|
|  soham|  22|         3| 21000|         22|                 3|         21000|
|shubham|  24|         4| 24000|         24|                 4|         24000|
| mahesh|null|      null| 35000|         27|                 5|         35000|
|   null|  34|        10| 38000|         34|                10|         38000|
|   null|  36|      null|  null|         36|                 5|         23250|
+-------+----+----------+------+-----------+------------------+--------------+