## Pyspark Data frames

* Filter operation
* & , |, ==
* ~

In [1]:
#pip install pyspark

In [2]:
#pip install -q findspark

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [5]:
spark

In [10]:
df_pyspark=spark.read.csv("C:\\CSV Files\\csv1.csv", header=True, inferSchema=True)

In [11]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
| Sandra|  32|         8| 12000|
| Mehmad|  25|         6| 15000|
| tamara|  19|         4| 19000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

### filter operation

In [12]:
## salary of the people less than or equal to 20000
df_pyspark.filter("salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|salary|
+------+---+----------+------+
|Sandra| 32|         8| 12000|
|Mehmad| 25|         6| 15000|
|tamara| 19|         4| 19000|
+------+---+----------+------+

In [13]:
df_pyspark.filter("salary<=20000").select(['Name','Age']).show()    #only name and age of that specific filterd condition

+------+---+
|  Name|Age|
+------+---+
|Sandra| 32|
|Mehmad| 25|
|tamara| 19|
+------+---+

In [14]:
df_pyspark.filter(df_pyspark['salary']<=20000).show()    #another method same result

+------+---+----------+------+
|  Name|Age|Experience|salary|
+------+---+----------+------+
|Sandra| 32|         8| 12000|
|Mehmad| 25|         6| 15000|
|tamara| 19|         4| 19000|
+------+---+----------+------+

In [ ]:
# and & filter operation

In [16]:
df_pyspark.filter((df_pyspark['salary']<=20000) & 
                  (df_pyspark['salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|salary|
+------+---+----------+------+
|Mehmad| 25|         6| 15000|
|tamara| 19|         4| 19000|
+------+---+----------+------+

In [ ]:
# OR | operation

In [17]:
df_pyspark.filter((df_pyspark['salary']<=20000) | 
                  (df_pyspark['salary']>=15000)).show()

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
| Sandra|  32|         8| 12000|
| Mehmad|  25|         6| 15000|
| tamara|  19|         4| 19000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
+-------+----+----------+------+

## Not Operation ~

In [18]:
df_pyspark.filter(~(df_pyspark['salary']<=20000)).show() # which is not present in condition, is shown by not operator(~)(inverse)

+-------+----+----------+------+
|   Name| Age|Experience|salary|
+-------+----+----------+------+
|  Irfan|  26|         5| 22000|
|  soham|  22|         3| 21000|
|shubham|  24|         4| 24000|
| mahesh|null|      null| 35000|
|   null|  34|        10| 38000|
+-------+----+----------+------+