In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\bin\\spark-3.3.0-bin-hadoop2'

In [2]:
from pyspark import SparkContext, SparkConf

In [3]:
conf=SparkConf().setAppName("sql").setMaster("local")
sc=SparkContext(conf=conf)

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("sqll").getOrCreate()

In [12]:
df = spark.read.csv('pseudo_facebook.csv',header=True, inferSchema=True)

In [13]:
df.show(5)

+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|dob_day|dob_year|dob_month|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|     19|    1999|       11|  male|   266|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|      2|    1999|       11|female|     6|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2083884| 14|     16|    1999|       11|  male|    13|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1203168| 14|     25|    1999|       12|female|    93|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1733186| 14|      4|    1999|       12|  male|    82|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 5 rows

In [14]:
df.createOrReplaceTempView("fb")       # created a view to this dataframe

In [15]:
spark.sql("select * from fb").show()

+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|dob_day|dob_year|dob_month|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|     19|    1999|       11|  male|   266|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|      2|    1999|       11|female|     6|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2083884| 14|     16|    1999|       11|  male|    13|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1203168| 14|     25|    1999|       12|female|    93|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1733186| 14|      4|    1999|       12|  male|    82|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1524765| 14|      1|    1999|       12|  male|    15|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1136133| 13|     14|    2000|        1|  male|    12|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1680361| 13|      4|    2000|        1|female|     0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1365174| 13|      1|    2000|        1|  male|    81|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1712567| 13|      2|    2000|        2|  male|   171|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1612453| 13|     22|    2000|        2|  male|    98|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2104073| 13|      1|    2000|        2|  male|    55|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1918584| 13|      5|    2000|        3|  male|   106|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1704433| 13|     21|    2000|        3|  male|    61|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1932519| 13|     28|    2000|        3|female|     0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1751722| 13|      7|    2000|        4|female|    16|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1470850| 13|     30|    2000|        5|female|    34|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1001768| 13|     23|    2000|        5|female|    25|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1537661| 13|     16|    2000|        5|female|     4|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1020296| 13|     13|    2000|        8|  male|     9|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 20 rows

In [16]:
spark.sql("select count(*) from fb").show()

+--------+
|count(1)|
+--------+
|   99003|
+--------+

In [17]:
spark.sql("select avg(age) from fb").show()

+-----------------+
|         avg(age)|
+-----------------+
|37.28022383160106|
+-----------------+

In [19]:
spark.sql("select avg(age), gender from fb group by gender").show()

+------------------+------+
|          avg(age)|gender|
+------------------+------+
| 74.77714285714286|    NA|
|39.459904605753465|female|
| 35.67024618431386|  male|
+------------------+------+

In [20]:
x = spark.sql("select avg(age) from fb").collect()[0][0]   # convert in to 2d array
print(x+10)     #37.28022 + 10

47.28022383160106

In [21]:
spark.sql("select avg(likes_received) as avg_like, gender from fb group by gender order by avg_like").show()

+------------------+------+
|          avg_like|gender|
+------------------+------+
| 67.91154778570697|  male|
|157.38285714285715|    NA|
| 251.4354349878273|female|
+------------------+------+

In [22]:
spark.sql("select avg(friend_count) from fb where age>=13 and age<=25").show()

+-----------------+
|avg(friend_count)|
+-----------------+
|268.5517990880525|
+-----------------+

In [23]:
spark.sql("select avg(friend_count) from fb where age>=30 and age<=60").show()

+------------------+
| avg(friend_count)|
+------------------+
|107.02898996737859|
+------------------+

In [24]:
spark.sql("select avg(mobile_likes), avg(www_likes) from fb where age>=13 and age<=25").show()

+------------------+-----------------+
| avg(mobile_likes)|   avg(www_likes)|
+------------------+-----------------+
|123.98981737425284|55.50010631511801|
+------------------+-----------------+

In [25]:
spark.sql("select avg(mobile_likes), avg(www_likes) from fb where age>=25 and age<=50").show()

+-----------------+------------------+
|avg(mobile_likes)|    avg(www_likes)|
+-----------------+------------------+
|95.63362915042437|27.614387216278235|
+-----------------+------------------+

In [34]:
df.groupby("age").avg("friend_count").orderBy("age", ascending = False).show(100)

+---+------------------+
|age| avg(friend_count)|
+---+------------------+
|113|334.66831683168317|
|112|484.94444444444446|
|111|240.22222222222223|
|110|336.73333333333335|
|109|172.88888888888889|
|108| 369.2426249247441|
|107| 363.1020408163265|
|106|           312.096|
|105|          398.5625|
|104| 429.5068493150685|
|103| 462.5057471264368|
|102|446.85026737967917|
|101| 393.6496815286624|
|100| 356.2123076923077|
| 99| 402.7831325301205|
| 98|423.97849462365593|
| 97| 435.2857142857143|
| 96|476.42857142857144|
| 95| 413.3246753246753|
| 94|439.70108695652175|
| 93|263.95073891625617|
| 92| 412.0576923076923|
| 91| 349.2105263157895|
| 90| 268.9718309859155|
| 89| 409.3833333333333|
| 88|392.11475409836066|
| 87|             328.5|
| 86|362.36842105263156|
| 85| 301.7951807228916|
| 84| 333.8488372093023|
| 83| 254.2565789473684|
| 82|166.83333333333334|
| 81|133.19444444444446|
| 80|276.79411764705884|
| 79| 89.57142857142857|
| 78| 149.2716049382716|
| 77|148.98224852071007|
| 76| 88.87640449438203|
| 75|103.44635193133047|
| 74| 146.1423487544484|
| 73|118.15454545454546|
| 72| 84.02364864864865|
| 71|115.60511363636364|
| 70| 85.52602739726028|
| 69| 95.08478260869565|
| 68|319.28959810874704|
| 67| 88.40894039735099|
| 66|111.46088193456615|
| 65|  97.4011544011544|
| 64|111.47390691114245|
| 63|126.71664829106946|
| 62|111.59510869565217|
| 61|118.11899038461539|
| 60|112.91711229946524|
| 59|102.29136690647482|
| 58|115.36954087346025|
| 57|110.13841201716738|
| 56|106.57403189066059|
| 55|112.96864864864865|
| 54|103.60252365930599|
| 53|112.28775167785236|
| 52|108.24422110552764|
| 51| 101.5664263645726|
| 50|125.26501035196688|
| 49| 104.7739221871714|
| 48|109.52678571428571|
| 47|106.98337028824834|
| 46|108.15041128084606|
| 45|103.88014527845036|
| 44|  97.3933865450399|
| 43|100.45813734713076|
| 42| 94.12814371257485|
| 41| 96.89263420724095|
| 40|  87.7185628742515|
| 39|100.81929046563192|
| 38|109.65878070973612|
| 37|101.35706914344685|
| 36|104.37745974955277|
| 35| 99.32936170212766|
| 34|108.86157517899761|
| 33|103.86393196598299|
| 32|114.27997227997228|
| 31|118.45985832349469|
| 30|115.20804195804196|
| 29|120.81818181818181|
| 28|  125.835448392555|
| 27|134.14732142857142|
| 26| 144.0081705150977|
| 25|131.02114803625378|
| 24|185.71206225680933|
| 23|202.84264305177112|
| 22| 211.3947889182058|
| 21|235.94116044674476|
| 20|283.49907137171664|
| 19|333.69209747210203|
| 18| 331.1662817551963|
| 17|350.30063965884864|
| 16|351.93713545042124|
| 15|347.69213139801377|
| 14|251.39012987012987|
+---+------------------+
only showing top 100 rows