# Pyspark GroupBy and Aggregate Functions

In [1]:
#pip install pyspark

In [2]:
#pip install -q findspark

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark=spark.read.csv("C:\\CSV Files\\csv2.csv",header=True, inferSchema=True)

In [7]:
df_pyspark.show()

+--------+-----------+------+
|    Name|Departments|salary|
+--------+-----------+------+
|   irfan|         DS| 10000|
|  sandra|        IOT| 15000|
|   irfan|         BD| 22000|
|    iona|         BD| 21000|
|  sandra|         DS| 16000|
|  sandry|         DS| 17000|
|  mahesh|        IOT| 19000|
|  mahesh|         BD| 25000|
|  champu|         DS| 11000|
|sudhansh|         BD| 12000|
|sudhansh|         DS| 13000|
+--------+-----------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [9]:
## Group By function and aggeregate function works together

In [10]:
df_pyspark.groupBy('Name').sum().show()   # grouped to find maximum salary

+--------+-----------+
|    Name|sum(salary)|
+--------+-----------+
|  champu|      11000|
|   irfan|      32000|
|  sandra|      31000|
|    iona|      21000|
|sudhansh|      25000|
|  mahesh|      44000|
|  sandry|      17000|
+--------+-----------+

## Groupby departments whih gives maximum salary

In [11]:
df_pyspark.groupBy('Departments').sum().show()

+-----------+-----------+
|Departments|sum(salary)|
+-----------+-----------+
|        IOT|      34000|
|         BD|      80000|
|         DS|      67000|
+-----------+-----------+

In [12]:
# we can find mean salary

df_pyspark.groupBy('Departments').mean().show()

+-----------+-----------+
|Departments|avg(salary)|
+-----------+-----------+
|        IOT|    17000.0|
|         BD|    20000.0|
|         DS|    13400.0|
+-----------+-----------+

In [13]:
## find how many employees in specific column

df_pyspark.groupBy('Departments').count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|        IOT|    2|
|         BD|    4|
|         DS|    5|
+-----------+-----+

In [14]:
## findout total salary  i.e total expenditure


df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     181000|
+-----------+

In [15]:
### find out person getting maximum salary

In [19]:
df_pyspark.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(salary)|
+--------+-----------+
|  champu|      11000|
|   irfan|      22000|
|  sandra|      16000|
|    iona|      21000|
|sudhansh|      13000|
|  mahesh|      25000|
|  sandry|      17000|
+--------+-----------+

In [17]:
df_pyspark.groupBy('Name').min().show()

+--------+-----------+
|    Name|min(salary)|
+--------+-----------+
|  champu|      11000|
|   irfan|      10000|
|  sandra|      15000|
|    iona|      21000|
|sudhansh|      12000|
|  mahesh|      19000|
|  sandry|      17000|
+--------+-----------+

In [18]:
df_pyspark.groupBy('Name').avg().show()

+--------+-----------+
|    Name|avg(salary)|
+--------+-----------+
|  champu|    11000.0|
|   irfan|    16000.0|
|  sandra|    15500.0|
|    iona|    21000.0|
|sudhansh|    12500.0|
|  mahesh|    22000.0|
|  sandry|    17000.0|
+--------+-----------+